@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-100 text-slate-900 antialiased transition-colors duration-200 ease-out;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

main {
  @apply flex min-h-screen flex-col;
}
